<div class="w3-footer-contact">
    <div class="container">
        <div class="col-md-4 w3-footer-contact-left">
            <h3>Trucking</h3>
            <p>Mauris nec consequat nisi. Donec tempus porttitor mollis. Nam tincidunt nulla vel malesuada vestibulum. Nullam tempus, mauris et malesuada sodales, arcu erat vestibulum nulla.</p>
        </div>
        <div class="col-md-4 w3-footer-contact-middle">
            <img src="~/assetsItem/images/v1.jpg" alt="img">
        </div>
        <div class="col-md-4 w3-footer-contact-right">
            <div class="col-md-2 w3-footer-contact-icon1">
                <i class="fa fa-building-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-10 w3-footer-contact-info">
                <p>Company:</p>
                <h5>SRFMDHU NETWORK PRIVATE LIMITED</h5>
            </div>
                <div class="col-md-2 w3-footer-contact-icon1">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="col-md-10 w3-footer-contact-info">
                   
                    <p>Location:</p>
                    <h5>Word No-08,Dheer Wali Gali Near Bus Stand,Mansa Punjab-151505</h5>

                </div>
                <div class="clearfix"></div>
                <div class="col-md-2 w3-footer-contact-icon1">
                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                </div>
                <div class="col-md-10 w3-footer-contact-info">
                    <p>call:</p>
                    <h5>+919889267763</h5>

                </div>
                <div class="clearfix"></div>
                <div class="col-md-2 w3-footer-contact-icon1">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="col-md-10 w3-footer-contact-info">
                    <p>Email:</p>
                    <h5><a href="maurya.shri@gmil.com"> maurya.shri@gmil.com</a></h5>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>


            <!-- partners -->
           <partial name="_Slider"/>
        </div>

    <!-- //partners -->

</div>