<!-- //footer-contact -->
<div class="footer-final">
    <div class="copyw3-agile">
        <div class="container">
            <p>&copy; 2018 Trucking. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</div>