@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using TransportServices.Data;

<ul class="">
    @if (SignInManager.IsSignedIn(User))
    {
        var getUser = @User.Identity.Name;
        var getWelcome = UserManager.Users.Where(i => i.Email == getUser).FirstOrDefault();
        <li class="">
            <a class=" text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello !@getWelcome.FirstName @getWelcome.LastName</a>
        </li>
        <li class="">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-link text-white"><i class="fa fa-sign-out"></i>Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a class=" text-white" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus"></i>Register</a>
        </li>
        <li>
            <a class="text-white" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user"></i>Login</a>
        </li>
    }
</ul>