@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using TransportServices.Data;
<style> 
.dropdown {
    border:1px solid #ccc;
    border-radius:4px;
    width:300px;    
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:190px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

#profile{
    margin-left: 89px;
    padding-left: 30px;
    padding-right: 30px;
}
}
.w3layouts_header_left ul li a {
    color: #fff;
    padding: 0.5em 1em;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}
.dropdown{
    border: none;
    margin-left: 0px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 94px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background: #f1ce65;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background:none; 
    
}
</style>
<ul class="list-inline">
    @if (SignInManager.IsSignedIn(User))
    {
        var getUser = @User.Identity.Name;
        var getWelcome = UserManager.Users.Where(i => i.Email == getUser).FirstOrDefault();
         <li class="dropdown" style="border:none">
          <a style="text-decoration:none;color:white;" href="#" id="profile" class="dropdown-toggle" data-toggle="dropdown"> @getWelcome.FirstName @getWelcome.LastName <span class="fa fa-user-o"></span></a>
          <ul class="dropdown-menu" id="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Profile </a></li>
            <li class="divider"></li> 
            <li>
                <form  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-link" style="text-decoration:none;color:white;text-transform: uppercase"><i class="fa fa-sign-out"></i> Logout</button>
            </form>
            </li>
            <li class="divider"></li>
          </ul>
        </li>
    }   
    else
    {
        @*<li>
            <a class="text-white" style="color:white" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus"></i>Register</a>
        </li>*@
        <li>
            <a class="text-white" style="color:white" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user"></i>Login</a>
        </li>
    }
</ul>