<div class="team gallery-ban" id="team">

    <ul id="flexiselDemo1">
        <li>
            <div class="wthree_testimonials_grid_main">

                <img src="~/assetsItem/images/f1.png" alt=" " class="img-responsive" />

            </div>
        </li>
        <li>
            <div class="wthree_testimonials_grid_main">

                <img src="~/assetsItem/images/f2.png" alt=" " class="img-responsive" />

            </div>
        </li>
        <li>
            <div class="wthree_testimonials_grid_main">

                <img src="~/assetsItem/images/f3.png" alt=" " class="img-responsive" />

            </div>
        </li>
        <li>
            <div class="wthree_testimonials_grid_main">

                <img src="~/assetsItem/images/f51.png" alt=" " class="img-responsive" />

            </div>
        </li>
        <li>
            <div class="wthree_testimonials_grid_main">

                <img src="~/assetsItem/images/f5.png" alt=" " class="img-responsive" />

            </div>
        </li>
        <li>
            <div class="wthree_testimonials_grid_main">

                <img src="~/assetsItem/images/f6.png" alt=" " class="img-responsive" />

            </div>
        </li>
    </ul>

</div>