
@{
    ViewBag.Title = "Add User";

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
<style>
    .loader {
    }
</style>
<div id="page-wrapper">

    <div class="row">
        <!-- Page Header -->
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>

        </div>
        <!--End Page Header -->
    </div>
   <div>
       <partial name="_RegisterLayout" />
   </div>

</div>

@section Scripts{
    <script src="~/admin/assets/plugins/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#btnSave").click(function(){

          $("#btnSave").html('Save  <i class="fas fa-circle-notch fa-spin" style="font-size:20px"></i>').attr('disabled',true);
          $("#Loader").css("display","block");
            var FirstName = $("#txtFirstName").val();
            var LastName = $("#txtLastName").val();
            var Email = $("#txtEmail").val();
            var PhoneNumber = $("#txtPhone").val();
            var Password = $("#txtPassword").val();

            var obj = { FirstName: FirstName, LastName: LastName, PasswordHash: Password, PhoneNumber: PhoneNumber, Email: Email};
            var jsonData=JSON.stringify(obj);
            var url ="/api/UserManagement/Add";
            try{
                $.ajax({
               url:url,
               type:'POST',
               dataType:'JSON',
               data:jsonData,
               contentType:'application/json; charset=utf-8',
               success:function(result){
                   $("#Loader").css("display","none");
                   swal("Thank You!", "User Register Succeessfully", "success")
                   $("#btnSave").html('Save <i class="fa fa-save"></i>').attr('disabled',false);

                     if(result==true){
                         $("#txtFirstName").val('');
                         $("#txtLastName").val('');
                         $("#txtEmail").val('');
                         $("#txtPhone").val('');
                         $("#txtPassword").val('');
                     }
                   console.log(result);
               },error:function(err){
                   if(err){
                      swal("Oh! No", "Something went wrong", "error") ;
                      console.log(err.responseText);
                      $("#btnSave").html('Save <i class="fa fa-save"></i>').attr('disabled',false);
                      $("#Loader").css("display","none");
                   }
               }
           })
           }catch(e){
               console.log(e)
           }

        })
    });
    </script>
}
