@{
    ViewData["Title"] = "About";
}

<div class="banner-multi">

</div>
<div class="about-breadcrumb">
    <div class="container">
        <ul>
            <li><a href="index.html">Home</a><i>|</i></li>
            <li>Contact Us</li>
        </ul>
    </div>
</div>

<!-- contact -->
<div class="contact jarallax">
    <div class="container">
        <div class="w3-headings-all">
            <h3>Contact Us</h3>

        </div>
        <div class="contact-grids">
            <div class="col-md-5 address">
                <h4>Get in touch with us</h4>
                <p class="cnt-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets containing Lorem Ipsum passages sed do </p>
                <div class="agileits-social1 top_content">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>
                <div class="agileits-social-address">
                    <p>Broome St,4200  Newyork,Usa </p>
                    <p>Telephone : +435-25-486</p>
                    <p>FAX : +435-25-489</p>
                    <p>Email : <a href="mailto:example@mail.com">mail@example.com</a></p>
                </div>

            </div>
            <div class="col-md-7 contact-form">
                <form action="#" method="post">
                    <input type="text" name="Name" placeholder="Name" required="">
                    <input class="email" type="email" name="email" placeholder="Email" required="">
                    <textarea placeholder="Message" name="Message" required=""></textarea>
                    <input type="submit" value="SUBMIT">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- /contact map -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d201550.39177685636!2d32.36639841921736!3d37.87842350799034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d08568d615f745%3A0x240dd0fc08060967!2sKonya%2C+Turkey!5e0!3m2!1sen!2sin!4v1494480106595"></iframe>
</div>
<!-- //contact map -->
<partial name="_Footer_Contact" />