@{
    ViewData["Title"] = "Home Page";
}





<!-- //banner -->
<div id="exampleSlider">
    <div><h3>The shipping <span>services you can trust</span></h3></div>
    <div><h3>logistics makes <span>comfort for less time</span></h3></div>
    <div><h3>shipping can <span>make happy customer</span></h3></div>
    <div><h3>Transport can <span>make happy customer </span></h3></div>
</div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="signin-form profile">
                    <h3 class="agileinfo_sign">Sign In</h3>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="E-mail" required="">
                            <input type="password" name="password" placeholder="Password" required="">
                            <div class="tp">
                                <input type="submit" value="Sign In">
                            </div>
                        </form>
                    </div>
                    <div class="login-social-grids">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal1 -->
<!-- //bootstrap-pop-up -->
<div class="w3-about-us">
    <div class="container">
        <div class="w3-headings-all">
            <h3>Welcome</h3>
        </div>
        <div class="w3-about-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien diam, ornare a eros a, mollis facilisis erat. Sed gravida turpis lorem, id gravida erat dictum et.Lorem ipsum dolor sit amet, consectetur adipiscing elit Sed sapien diam, ornare a eros a, mollis facilisis erat.</p>
        </div>
        <div class="w3-about-all-grid">
            <div class="col-md-6 w3-about-grid-left">
                <ul>
                    <li><h3><span><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>Customer package</h3></li>
                    <li><h3><span><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>Expensive less</h3></li>
                    <li><h3><span><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>online Shipping</h3></li>
                    <li><h3><span><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>Logistics package</h3></li>
                </ul>
            </div>
            <div class="col-md-6 w3-about-grid-right">
                <ul>
                    <li><h3><span><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>Customer package</h3></li>
                    <li><h3><span><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>Expensive less</h3></li>
                    <li><h3><span><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>online Shipping</h3></li>
                    <li><h3><span><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>Logistics package</h3></li>
                </ul>
            </div>
            <div class="clearfix"></div>

        </div>


        <!-- /about brief -->
        <div class="events">

            <div class="col-md-6 w3layouts_event_grid">
                <div class="w3_agile_event_grid1">
                    <img src="~/assetsItem/images/ab1.jpg" alt=" " class="img-responsive" />
                    <div class="w3_agile_event_grid1_pos">
                        <p>23 March 2017</p>
                    </div>
                    <div class="agile_event_grid1_pos">
                        <ul>
                            <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>18</a></li>
                            <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>21</a></li>
                            <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i>13</a></li>
                        </ul>
                    </div>
                </div>
                <div class="agileits_w3layouts_event_grid1">
                    <h5><a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum</a></h5>
                    <p>viverra ipsum ac, convallis mauris. Sed quis congue turpis, cursus rhoncus nibh.</p>
                </div>
            </div>


            <div class="col-md-6 w3layouts_event_grid">
                <div class="w3_agile_event_grid1">
                    <img src="~/assetsItem/images/ab2.jpg" alt=" " class="img-responsive" />
                    <div class="w3_agile_event_grid1_pos">
                        <p>25 March 2017</p>
                    </div>
                    <div class="agile_event_grid1_pos">
                        <ul>
                            <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>18</a></li>
                            <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>21</a></li>
                            <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i>13</a></li>
                        </ul>
                    </div>
                </div>
                <div class="agileits_w3layouts_event_grid1">
                    <h5><a href="#" data-toggle="modal" data-target="#myModal">molestie sed</a></h5>
                    <p>viverra ipsum ac, convallis mauris. Sed quis congue turpis, cursus rhoncus nibh.</p>
                </div>
            </div>
            <div class="clearfix"></div>


            <div class="col-md-6 w3layouts_event_grid">
                <div class="w3_agile_event_grid1">
                    <img src="~/assetsItem/images/ab3.jpg" alt=" " class="img-responsive" />
                    <div class="w3_agile_event_grid1_pos">
                        <p>28 March 2017</p>
                    </div>
                    <div class="agile_event_grid1_pos">
                        <ul>
                            <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>18</a></li>
                            <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>21</a></li>
                            <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i>13</a></li>
                        </ul>
                    </div>
                </div>
                <div class="agileits_w3layouts_event_grid1">
                    <h5><a href="#" data-toggle="modal" data-target="#myModal"> dapibus metus</a></h5>
                    <p>viverra ipsum ac, convallis mauris. Sed quis congue turpis, cursus rhoncus nibh.</p>
                </div>
            </div>


            <div class="col-md-6 w3layouts_event_grid">
                <div class="w3_agile_event_grid1">
                    <img src="~/assetsItem/images/ab4.jpg" alt=" " class="img-responsive" />
                    <div class="w3_agile_event_grid1_pos">
                        <p>30 March 2017</p>
                    </div>
                    <div class="agile_event_grid1_pos">
                        <ul>
                            <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>18</a></li>
                            <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>21</a></li>
                            <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i>13</a></li>
                        </ul>
                    </div>
                </div>
                <div class="agileits_w3layouts_event_grid1">
                    <h5><a href="#" data-toggle="modal" data-target="#myModal">ipsum primis </a></h5>
                    <p>viverra ipsum ac, convallis mauris. Sed quis congue turpis, cursus rhoncus nibh.</p>
                </div>
            </div>
            <div class="clearfix"></div>



        </div>
        <!-- //about brief -->

    </div>
</div>
<!-- services -->
<div class="w3-agile-services">
    <div class="container">
        <div class="w3-headings-all">
            <h3>Services</h3>
        </div>
        <div class="agileits-services">
            <div class="services-right-grids">
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Phasellus suscipit</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et, pellentesque eget mi.</p>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal11">Read more</a></h4>
                    </div>
                </div>
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-subway" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Phasellus suscipit</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et, pellentesque eget mi.</p>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal11">Read more</a></h4>
                    </div>
                </div>
                <div class="col-sm-4 services-right-grid">
                    <div class="services-icon hvr-radial-in">
                        <i class="fa fa-ship" aria-hidden="true"></i>
                    </div>
                    <div class="services-icon-info">
                        <h5>Phasellus suscipit</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et, pellentesque eget mi.</p>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal11">Read more</a></h4>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
</div>
<!-- //services -->
<!-- modal -->
<div class="modal about-modal fade" id="myModal11" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="span1" aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> Trucking</h4>
            </div>
            <div class="modal-body">
                <div class="agileits-w3layouts-info">
                    <img src="images/m1.jpg" alt="" />
                    <p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. Suspendisse ultrices hendrerit massa. Nam id metus id tellus ultrices ullamcorper.  Cras tempor massa luctus, varius lacus sit amet, blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //modal -->
<!-- /our advantages -->
<div class="w3-advantages" id="advantages">
    <div class="container">
        <div class="w3-headings-all">
            <h3>Latest News</h3>
        </div>
        <div class="w3-adv-grids">
            <div class="col-md-6 w3-adv-left1">
                <div class="w3-adv-lef1-text">
                    <h3>Donec quis</h3>
                    <p>hendrerit nunc</p>
                </div>
                <div class="w3-adv-lef1-text2">
                    <p><span>"</span>Praesent tristique nisi quis ultricies facilisis. Integer molestie nisl eros, eget rhoncus dolor porttitor eu. Nullam imperdiet dolor nibh, in pulvinar quam commodo efficitur<span>"</span></p>
                    <p><span>"</span>Praesent tristique nisi quis ultricies facilisis. Integer molestie nisl eros, eget rhoncus dolor porttitor eu. Nullam imperdiet dolor nibh, in pulvinar quam commodo efficitur<span>"</span></p>
                    <h4>Praesent tristique nisi quis tristique nisi </h4>
                </div>
            </div>
            <div class="col-md-6 w3-adv-right1">
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 w3-adv-left2">
            </div>
            <div class="col-md-6 w3-adv-right2">
                <div class="w3-adv-right2-text">
                    <h3>Donec quis</h3>
                    <p>hendrerit nunc </p>
                </div>
                <div class="w3-adv-right2-text-para">
                    <p>Praesent tristique nisi quis ultricies facilisis. Integer molestie nisl eros, eget rhoncus dolor porttitor eu. Nullam imperdiet dolor nibh, in pulvinar quam commodo efficitur</p>
                </div>
                <div class="w3-adv-right2-icons">
                    <p><i class="fa fa-plane" aria-hidden="true"></i>Lorem ipsum</p>
                    <p><i class="fa fa-sitemap" aria-hidden="true"></i>Rarpe ipsum</p>
                    <p><i class="fa fa-crosshairs" aria-hidden="true"></i>Param ipsum</p>
                    <p><i class="fa fa-globe" aria-hidden="true"></i>Dunke ipsum</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //our advantages -->
<!-- /Subscribe -->
<!-- subscribe -->
<div class="subscribe">
    <div class="container">
        <div class=" col-md-6 agileits-title">
            <h6>- Subscribe our</h6>
            <h3>Newsletter</h3>
        </div>
        <div class=" col-md-6 agileits-title-right">
            <form action="#" method="post">
                <input type="email" name="email" placeholder="Enter your Email..." required="">
                <input type="submit" value="Subscribe">
            </form>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //subscribe -->
<!-- /footer-contact -->
<partial name="_Footer_Contact" />-

