@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using TransportServices.Data;
@{
    ViewData["Title"] = "Services";

}
<div class="banner-multi">

</div>
<div class="about-breadcrumb">
    <div class="container">
        <ul>
            <li><a href="index.html">Home</a><i>|</i></li>
            <li>Services</li>
        </ul>
    </div>
</div>
@if (!SignInManager.IsSignedIn(User))
{

    <div class="skills w3-agileits w3-services-page">
        <div class="container">
            <div class="skills-agileinfo">
                <div class="col-md-6 skills-w3left">
                    <h4>Our Services</h4>
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Service1</a></li>
                            <li role="presentation"><a href="#carl" role="tab" id="carl-tab" data-toggle="tab" aria-controls="carl">Service2</a></li>
                            <li role="presentation"><a href="#james" role="tab" id="james-tab" data-toggle="tab" aria-controls="james">Service3</a></li>

                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                <div class="tabcontent-grids">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed velit fermentum lobortis. Fusce eu semper lacus, eget placerat mauris. Sed lectus tellus, sodales id elit a, feugiat porttitor nulla. Sed porta magna vitae nisl vulputate lacinia. Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget. Nulla ornare purus nunc, ut dapibus leo sodales adipiscing. </p>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="carl" aria-labelledby="carl-tab">
                                <div class="tabcontent-grids">
                                    <ul>
                                        <li><span class="glyphicon glyphicon-menu-right"></span> Sed tincidunt lorem sed </li>
                                        <li><span class="glyphicon glyphicon-menu-right"></span> Excepteur sint occaecat </li>
                                        <li><span class="glyphicon glyphicon-menu-right"></span> Duis aute irure dolor in </li>
                                        <li><span class="glyphicon glyphicon-menu-right"></span> Sed tincidunt lorem sed </li>
                                        <li><span class="glyphicon glyphicon-menu-right"></span> Excepteur sint occaecat </li>
                                        <li><span class="glyphicon glyphicon-menu-right"></span> Duis aute irure dolor in </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="james" aria-labelledby="james-tab">
                                <div class="tabcontent-grids">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed velit fermentum lobortis. Fusce eu semper lacus, eget placerat mauris. Sed lectus tellus, sodales id elit a, feugiat porttitor nulla. Sed porta magna vitae nisl vulputate lacinia. Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget. Nulla ornare purus nunc, ut dapibus leo sodales adipiscing. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Our Specialization</h4>
                <div class="col-md-6 skills-w3right bar_group">
                    <div class='bar_group__bar thin' label='Lorem ipsum &nbsp;&nbsp; 80%' value='200'></div>
                    <div class='bar_group__bar thin' label='Quis nostrud &nbsp;&nbsp; 100%' value='250'></div>
                    <div class='bar_group__bar thin' label='Sed do eiusmod &nbsp;&nbsp; 72%' value='180'></div>
                    <div class='bar_group__bar thin' label='Ut enim adnim &nbsp;&nbsp; 88%' value='220'></div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //skills -->
    <div id="gallery" class="gallery">
        <div class="container">
            <div class="w3-headings-all">
                <h3>Our Gallery</h3>
            </div>
            <div class="gallery-w3lsrow">
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/g1.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>goods</h5>
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/g6.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>goods</h5>
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/g4.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>goods</h5>
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/g2.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>goods</h5>
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/g5.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>goods</h5>
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/g3.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>goods</h5>
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/g7.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>goods</h5>
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/g8.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>goods</h5>
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <!-- //gallery -->
}
else
{
    <h1>My Services</h1><hr />
}
<partial name="_Footer_Contact" />

