@{
    ViewBag.Title="Vehicle-In Entry Form";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
<style>
    .loader{
       
    }
</style>
<div id="page-wrapper">
          
           <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1  class="page-header">@ViewBag.Title</h1>
                    
                </div>
                <!--End Page Header -->
            </div>
            <!--forms--->
 
 <!-- Row start -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
       
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Vehicle-In</h3>
        </div>
        <form>
        <div class="panel-body">
            
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Vehicle No" id="txtVehicleNo" required="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Bilty No/Bulker No" required="" id="txtBiltNo">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Quantity Per MT" required="" id="txtQty">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Invoice No." id="txtInvoice" required="">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Party Name/Transporter Name" id="txtTransporterName" required="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Transport Name" id="txtTransportName" required="" >

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Rate Per Month" id="txtRatePMT"  required="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Amount" id="txtAmount" required="">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Driver Name" id="txtDriverName" required="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Driver Contact No" id="txtDriverContact" required="">

                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Party Name/Transporter Name" id="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Transport Name">

                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Remark" required="" id="txtRemark">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-sx-6">
                    <button id="btnSave" class="btn btn-success pull-right">Save <i class="fa fa-save"></i></button>
                </div>
            </div>


        </div>
       </form>
      </div>
    </div>
  </div>
  <!-- Row end -->
 
</div>

@section Scripts{
    <script src="~/admin/assets/plugins/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script>
    $(document).ready(function(){
        $("#btnSave").click(function(){
            $("#btnSave").html('Save  <i class="fas fa-circle-notch fa-spin" style="font-size:20px"></i>').attr('disabled',true)
            //alert("Hello")
            var VehicleNo=$("#txtVehicleNo").val();
            var BiltNo=$("#txtBiltNo").val();
            var Qauntity=$("#txtQty").val();
            var Invoice=$("#txtInvoice").val();
            var TransporterName=$("#txtTransporterName").val();
            var TransportName=$("#txtTransportName").val();
            var RatePMT=$("#txtRatePMT").val();
            var Amount=$("#txtAmount").val();
            var DriverName=$("#txtDriverName").val();
            var DriverContact=$("#txtDriverContact").val();
            var Remark=$("#txtRemark").val();
           // create object
           var obj={VehicleNo:VehicleNo,BiltyNo:BiltNo,QuantityPMT:Qauntity,InvoiceNo:Invoice,TransporterName:TransporterName,TransportName:TransportName,DriverName:DriverName,DriverContact:DriverContact,Remark:Remark};
           var jsonData=JSON.stringify(obj);
           var url="/api/VehicleEntry/AddNewVehicleEntry";
           $.ajax({
               url:url,
               type:'POST',
               dataType:'JSON',
               data:jsonData,
               contentType:'application/json; charset=utf-8',
               success:function(result){
                   swal("Thank You!", "Vehicle Entry Succeessfully Saved", "success")
                    $("#btnSave").html('').attr('disabled',false);
           
                   console.log(result);
               }
           })
            
        })
    });
</script>
}
