<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/admin/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/admin/img/favicon.png">

    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="~/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin/css/now-ui-dashboard.min.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/admin/demo/demo.css" rel="stylesheet" />
    <script src="~/adnin/js/core/jquery.min.js"></script>
    <script src="~/admin/js/core/popper.min.js"></script>
    <script src="~/adnin/js/core/bootstrap.min.js"></script>
    <script src="~/adnin/js/plugins/perfect-scrollbar.jquery.min.js"></script>
</head>
<body>
    <div class="wrapper ">
        <!--Sidebar-->
        <partial name="_SideBar"/>
        <!--./Sidebar-->
        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <partial name="_TopNavBar"/>
            <!-- End Navbar -->
            <div class="panel-header panel-header-lg">
            <canvas id="bigDashboardChart"></canvas>
        </div>

            @RenderBody()
            <!--footer-->
            <partial name="_Footer"/>
            <!--./footer-->
        </div>
       
    </div>

        <!----Script area-->
        <!--   Core JS Files   -->
        <script src="~/adnin/js/core/jquery.min.js"></script>
        <script src="~/admin/js/core/popper.min.js"></script>
        <script src="~/adnin/js/core/bootstrap.min.js"></script>
        <script src="~/adnin/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!--  Google Maps Plugin    -->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
        <!-- Chart JS -->
        <script src="~/adnin/js/plugins/chartjs.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="~/adnin/js/plugins/bootstrap-notify.js"></script>
        <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="~/admin/js/now-ui-dashboard.min.js?v=1.3.0"></script>
        <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
        <script src="~/admin/demo/demo.js"></script>
        <script>
            $(document).ready(function () {
                // Javascript method's body can be found in assets/js/demos.js
                demo.initDashboardPageCharts();

            });
        </script>
        <!----./Script area-->
</body>
</html>
