<!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <img src="~/admin/assets/img/user.jpg" alt="">
                               
                            </div>
                            <div class="user-info">
                                <div>Jonny <strong>Deen</strong></div>
                                <div class="user-text-online">
                                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    <li class="sidebar-search">
                        <!-- search section-->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!--end search section-->
                    </li>
                    <li class="selected">
                        <a asp-action="Index" asp-controller="Home" asp-area="Admin"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit fa-fw"></i>Entry Forms<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a asp-action="VehicleIn" asp-controller="VehicleManagement" asp-area="Admin"><i class="fa fa-plus"></i> Vehicle-In</a>
                            </li>
                            <li>
                                <a asp-action="VehicleOut" asp-controller="VehicleManagement" asp-area="Admin"><i class="fa fa-minus"></i> Vehicle-Out</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li>
                        <a asp-action="Report" asp-controller="VehicleManagement"><i class="fa fa-file fa-fw"></i>Reports</a>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-flask fa-fw"></i>Transport Management<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a asp-action="AddVehicle" asp-controller="VehicleManagement"><i class="fa fa-plus"></i> Add new Vehicle</a>
                            </li>
                            <li>
                                <a asp-action="ViewVehicle" asp-controller="VehicleManagement"><i class="fa fa-th-list"></i> Transport Vehicle List</a>
                            </li>
                           
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users fa-fw"></i> User Management<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a asp-action="AddUser" asp-controller="UserManagement"><i class="fa fa-plus"></i> Add new User</a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="UserManagement"><i class="fa fa-th-list"></i> User List</a>
                            </li>
                            <li>
                                <a href="buttons.html"><i class="fa fa-wrench"></i> User Profile</a>
                            </li>
                           
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    
                    <li>
                        <a href="#"><i class="fa fa-truck fa-fw"></i> Services<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="blank.html">Blank Page</a>
                            </li>
                            <li>
                                <a href="login.html">Login Page</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
